<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:sec="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/security  
http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- Security Check for APIs -->
	<sec:http pattern="/api/**" entry-point-ref="restAuthenticationEntryPoint"
		auto-config="false" create-session="stateless" use-expressions="true">
		

		<sec:csrf disabled="true" />
		<sec:headers disabled="true"></sec:headers>
		<!--路径'/admin/*'需要权限ROLE_ADMIN -->
		<sec:custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER" />
		<sec:intercept-url pattern="/api/v1/token" access="permitAll" />
		<sec:intercept-url pattern="/api/v1/version" access="permitAll" />
		<sec:intercept-url pattern="/api/v1/asset" access="permitAll" />
		<!-- <sec:intercept-url pattern="/api/**" access="isAuthenticated()" /> -->
		<sec:intercept-url pattern="/api/**" access="isAuthenticated()" />
	</sec:http>

	<!-- Security Check for WebApps all request that not match above will go 
		to this lo -->
	<sec:http access-decision-manager-ref="accessDecisionManager"
		use-expressions="false">
		<sec:headers disabled="true"></sec:headers>

		<!--路径'/admin/*'需要权限ROLE_ADMIN -->


		<!--制定自定义的登录路径为/login，登录后默认跳转/welcome -->
		<sec:form-login login-page="/system/403"
			login-processing-url="/login" default-target-url="/welcome" />
		<!--指定使用默认登出页面，登出后跳转到/login?logout页面 -->
		<sec:logout logout-success-url="/login?logout" />
		<!--对于没有权限的页面跳转到/403路径 -->
		<sec:access-denied-handler error-page="/system/403" />
		<sec:csrf disabled="true" />
	</sec:http>
	<sec:authentication-manager>
		<sec:authentication-provider
			user-service-ref="myUserDetailsService">
			<sec:password-encoder ref="passwordEncoder" />
		</sec:authentication-provider>
	</sec:authentication-manager>

	<bean class="cn.sportsdata.webapp.youth.web.api.auth.TokenAuthenticationFilter"
	    id="authenticationTokenProcessingFilter">
	</bean>

	<bean class="cn.sportsdata.webapp.youth.web.api.auth.RestAuthenticationEntryPoint"
	    id="restAuthenticationEntryPoint">
	</bean>

	<bean id="myUserDetailsService"
		class="cn.sportsdata.webapp.youth.common.utils.UserAuthServiceImpl" />
	<bean id="passwordEncoder"
		class="cn.sportsdata.webapp.youth.common.utils.SAPasswordEncoder"></bean>

	<bean id="accessDecisionManager"
		class="cn.sportsdata.webapp.youth.common.utils.SAAccessDecisionManager" />
		
	<!-- <bean id="apiAccessDecisionManager"
		class="cn.sportsdata.webapp.youth.common.utils.APIAccessDecisionManager" /> -->

</beans>